@keyframes placeHolderShimmer {
  0% {
    background-position: -480px 0;
  }
  100% {
    background-position: 480px 0;
  }
}

@keyframes hintloading
{
  0% {
    background: $grey4;
  }
  50%  {
    background: $grey3;
  }
  100% {
    background: $grey4;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}