.page-header {
	padding: 28px 0;
	
	.container {
		display: flex;
		align-items: center;
	}
	
	.logo {
		margin-right: auto;
		
		@media (min-width: 1140px) {
			margin-right: 5%;
		}
	}
	
	nav {
		position: fixed;
		display: none;
		
		&.show {
			display: flex;
		}
		
		@media (min-width: 1140px) {
			position: static;
			display: flex !important;
			align-items: center;
			justify-content: space-between;
			flex-grow: 1;
			margin-right: 28px;
		}
		
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			
			li {
				margin-right: 60px;
			}
		}
	}
}

.page-footer {
	background: #1778F2;
	border-radius: 80px 80px 0 0;
	padding: 80px 0 0;

	@media (min-width: 1800px) {
		padding: 5% 0 0;
	}

	form {
		background: $light;
		border-radius: 40px;
		padding: 60px;
		margin-bottom: 80px;

		h4 {
			font-size: 34px;
			color: #1778F2;
			margin-bottom: 60px;
			font-weight: 500;
		}
		
		.grid {
			margin-bottom: 32px;
			grid-gap: 60px;
		}
	}
	
	.main-footer {
		padding-bottom: 120px;
	}
	
	.content.left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		h3 {
			font-size: 48px;
			max-width: 430px;
			
			img {
				position: absolute;
				bottom: -10px;
				left: 45%;
			}
		}
		
		nav {
			a {
				margin-right: 60px;
			}
		}
	}
	
	.content.right {
		color: $light;
		
		h4 {
			font-size: 34px;
			margin-bottom: 80px;
		}
	}
}

.marquee {
	overflow: clip;
	
	div {
		display: flex;
		width: max-content;
		animation: marquee 20s linear infinite;
	}
	
	span {
		color: $light;
		opacity: .15;
		font-size: 54px;
		font-weight: 800;
		margin-right: 12px;
	}
}